alembic==1.6.5
amqp==5.0.6
asgiref==3.3.4
bcrypt==3.2.0
billiard==3.6.4.0
celery==5.1.2
cffi==1.14.5
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
cryptography==3.4.7
ecdsa==0.17.0
fastapi==0.65.2
flower==1.0.0
greenlet==1.1.0
h11==0.12.0
humanize==3.9.0
kombu==5.1.0
Mako==1.1.4
MarkupSafe==2.0.1
passlib==1.7.4
prometheus-client==0.11.0
prompt-toolkit==3.0.19
psycopg2-binary==2.9.1
pyasn1==0.4.8
pycparser==2.20
pydantic==1.8.2
python-dateutil==2.8.1
python-dotenv==0.17.1
python-editor==1.0.4
python-jose==3.3.0
python-multipart==0.0.5
pytz==2021.1
redis==3.5.3
rsa==4.7.2
six==1.16.0
SQLAlchemy==1.4.18
starlette==0.14.2
tornado==6.1
typing-extensions==3.10.0.0
uvicorn==0.14.0
vine==5.0.0
wcwidth==0.2.5
